In [1]:
%load_ext autoreload
%autoreload 2

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [23]:
from afml import bars

In [26]:
data_raw = pd.read_csv("data/stocks/AMD.csv")

In [34]:
data_raw.tail()

,date,open,high,low,close,volume,average,barCount,dv
49165,2019-12-20 15:55:00,44.115,44.195,44.115,44.185,-1,-1.0,-1,-44.185
49166,2019-12-20 15:56:00,44.185,44.225,44.185,44.215,-1,-1.0,-1,-44.215
49167,2019-12-20 15:57:00,44.215,44.235,44.205,44.205,-1,-1.0,-1,-44.205
49168,2019-12-20 15:58:00,44.205,44.225,44.185,44.225,-1,-1.0,-1,-44.225
49169,2019-12-20 15:59:00,44.225,44.225,44.155,44.155,-1,-1.0,-1,-44.155

In [31]:
d = data_raw

In [32]:
d["dv"] = d["close"] * d["volume"]

In [33]:
d["dv"].cumsum()

0            -29.225
1            -58.580
2            -87.715
3           -116.950
4           -146.225
            ...
49165   -1639654.330
49166   -1639698.545
49167   -1639742.750
49168   -1639786.975
49169   -1639831.130
Name: dv, Length: 49170, dtype: float64

In [28]:
dbars = bars.dollar_bar(data_raw, m=10000)

In [30]:
dbars.tail()

Empty DataFrame
Columns: [index, open, high, low, close, volume, average, barCount, dollar_vol, cum_dollar_vol]
Index: []